<%= form_for @landing_page, :html => {:multipart => true, :class => "nice"} do |f| %>
  <% if @landing_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@landing_page.errors.count, "error") %> prohibited this landing_page from being saved:</h2>

      <ul>
      <% @landing_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "input-text" %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, :class => "input-text" %>
  </div>
  <div class="field">
    <%= f.label :release_date %>
    <%= f.text_field :release_date, :class => "input-text" %>
  </div>
  <div class="field">
    <%= f.label :industry_name %>
    <%= f.text_field :industry_name, data: {ac_source: Industry.order(:name).map(&:name)}, :class => "input-text" %>
  </div>
  <div class="field">
    <%= f.label :landing_page_type_name %>
    <%= f.text_field :landing_page_type_name, data: {autocomplete_source: LandingPageType.order(:name).map(&:name)}, :class => "input-text" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Landing Page", :class => "nice medium radius blue button" %>
  </div>
<% end %>
