<%= render 'advert' %>
<h4>Industries</h4>
<ul id="tags"> 
  <% @industries.each do |lp| %>
    <li>
      <%= link_to(industry_path(lp), :class => "tag") do %>
        <span class="tag_name"><%= lp.name %> </span>
  			<span class="tag_count"><%= lp.landing_pages.count %> </span>
      <% end %>
		</li>
  <% end %>   
</ul>

<h4 class="clear">Types of Landing Pages</h4>
<ul id="tags"> 
  <% @lpt.each do |lpt| %>
    <li>
      <%= link_to(landing_page_types_path(lpt), :class => "tag") do %>
        <span class="tag_name"><%= lpt.name %> </span>
  			<span class="tag_count"><%= lpt.landing_pages.count %> </span>
      <% end %>
		</li>
  <% end %>   
</ul>