<div class="row pad-top">
  <div class="columns nine">
    <% @landing_pages.each_with_index do |landing_page, index| %>
      <% if landing_page == @landing_pages.first %>
        <div class="row pad-bot">
          <div class="twelve inpad bigbox">
            <div class="date">
              <%= landing_page.release_date.to_date().to_formatted_s(:long_ordinal)  unless landing_page.release_date.nil?%>
            </div>
            <%= link_to image_tag(landing_page.screen_shot.bigthumb.url, :class => "border"), landing_page %>
            <h3 class="pad-top-half left"><%= link_to landing_page.title, landing_page %></h3>
            <ul class="details right pad-top">
              <li>
                <span>Cost Per Click: </span> <%= landing_page.keyword_cpc unless landing_page.keyword_cpc.nil? %>
              </li>
              <li>
                <%= link_to({:controller => "landing_pages", :action => "vote", :id => landing_page}, :class => "thumbs-up add", :remote => true) do %>
                  Thumbs Up: <span><%= landing_page.score %></span>
                 <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <%= "<div class='row pad-bot'>".html_safe if (oddeven(index) == "odd") %>
          <div class="columns six inpad smallbox">
            <div class="date">
              <%= landing_page.release_date.to_date().to_formatted_s(:rfc822)  %>
            </div>
            <%= link_to image_tag(landing_page.screen_shot.thumb.url, :class => "border"), landing_page %>
            <h4><%= link_to landing_page.title, landing_page %></h4>
            <ul class="details right pad-top">
              <li>
                <span>Cost Per Click: </span> <%= landing_page.keyword_cpc unless landing_page.keyword_cpc.nil? %>
              </li>
              <li>
                <%= link_to({:controller => "landing_pages", :action => "vote", :id => landing_page}, :class => "thumbs-up add", :remote => true) do %>
                  Thumbs Up: <span><%= landing_page.score %></span>
                 <% end %>
              </li>
            </ul>
          </div>
        <%= "</div>".html_safe if (oddeven(index) == "even" || landing_page == @landing_pages.last ) %>
      <% end %>
    <% end %>
    <%= will_paginate @landing_pages %>
    <%= link_to 'New Landing page', new_landing_page_path %>  
  </div>
  <div class="columns three sidebar">
    <%= render "sidebar" %>
  </div>
</div>
