<div class="row">
  <div class="seven columns">
    <h1>New Landing Page</h1>

    <%= render 'form' %>

    <%= link_to 'Back', landing_pages_path %>
  </div> 
  <div class="columns five">
    <div id="calendar">
      <h2 id="month">
        <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
        <%=h @date.strftime("%B %Y") %>
        <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
      </h2>
      <%= calendar_for @landing_page_calendar, :year => @date.year, :month => @date.month do |calendar| %>
        <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
        <%= calendar.day(:day_method => :release_date) do |date, landing_pages| %>
          <%= date.day %>
          <ul>
            <% for landing_page in landing_pages %>
              <li><%= link_to h(landing_page.title), landing_page %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

