<div class="row">
  <% flash.each do |key, msg| %>
    <div id="alert-box_<%= "#{key}" %>" class="alert-box marg-top">
      <%= msg %>
      <a href="" class="close">&times;</a>
    </div>    
  <% end %>
</div>
<div class="row twelve pad-top">
  <div class=" columns nine screen-shot">
    <h2>
      <%= link_to "#{@landing_page.title}", @landing_page.url %>
    </h2>
    <div class="inpad bigbox">
      <%= image_tag @landing_page.screen_shot.url.to_s, :class => "border" %> 
      <ul class="details right pad-top">
        <li>
          <%= @landing_page.keyword unless @landing_page.keyword.nil? %>
          <%= @landing_page.keyword_cpc unless @landing_page.keyword_cpc.nil? %>
        </li>
      </ul>
    </div>
  </div>
  <div class="columns three sidebar">
    <%= render "sidebar" %>
    <p>
      <%= @landing_page.description %>
    </p> 
    <div class="clear">
       <%= link_to 'Edit', edit_landing_page_path(@landing_page) %> |
       <%= link_to 'Back', landing_pages_path %>
    </div>
  </div>

</div>



